/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    position: relative;
    z-index: 10; /* Ensures the navbar is above the landing section */
}

/* Landing Section */
.landing-section {
    height: 100vh;
    background: url('slike/landing1.jpeg'), url('slike/landing2.jpeg'), url('slike/landing3.jpeg'), url('slike/landing4.jpeg'), url('slike/landing5.jpeg');
    background-size: auto 100%; /* Ensures the pictures maintain their aspect ratio */
    background-position: left, center left, center, center right, right;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for better text readability */
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .landing-section {
        background-size: 100% auto;
        background-position: top;
        background-image: url('slike/landing1.jpeg'); /* Fallback to a single collage image on smaller screens */
    }
}

@media (min-width: 769px) {
    .landing-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}


#landing-section h1, #landing-section p {
    position: relative;
    z-index: 2; /* Ensure text is above the overlay */
}


/* About Section */
#about img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.about-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: justify;
}


.custom-carousel-control {
    top: 50%;
    transform: translateY(-50%);
}

.custom-carousel-control-left {
    left: -50px;
}

.custom-carousel-control-right {
    right: -50px;
}

/* Services and Testimonials Sections */
.carousel-item .card {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.carousel-item .card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    padding: 0.5rem;
}
#testimonials .card {
    margin-bottom: 30px;
}

#download {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#download h2 {
    margin-bottom: 30px;
}

.download-box {
    border: 1px solid #dee2e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.download-files {
    flex: 1 1 45%;
    max-width: 45%;
    text-align: center;
    margin: 0 auto;
}

.download-files p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.download-item {
    margin-bottom: 20px;
}

.download-item p.file-name {
    color: grey;
    font-style: italic;
}

.download-item a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.download-item a:hover {
    background-color: #0056b3;
    color: #ffffff;
}

#contact {
    background-color: white;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.carousel-inner img {
    display: block;
    margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next{
    width: 5%;
}
